<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Gastronomía</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_1.png" />
            <ion-list-header>
              <ion-card-title>Zacahuil</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Un tamal gigante que puede llegar a medir hasta 5 metros, elaborado con masa de maíz y envuelto en hojas de plátano. Se rellena con carne de cerdo o pollo, especias y sal, acompañado de una salsa a base de chiles secos. Se cocina en horno por aproximadamente 12 horas y se sirve en una batea de madera. Es uno de los platillos prehispánicos de Veracruz y se prepara para bodas y acontecimientos especiales.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_2.png" />
            <ion-list-header>
              <ion-card-title>Picaditas</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Tortillas de maíz gruesas y pequeñas que se fríen en aceite y se les hace un borde con los dedos. Se cubren con salsa roja o verde, queso rallado y cebolla picada. Se pueden agregar otros ingredientes como frijoles refritos, carne deshebrada, chorizo o huevo. Son un antojito típico de la huasteca veracruzana y se comen como desayuno o cena.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_3.png" />
            <ion-list-header>
              <ion-card-title>Camarones al coco</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Camarones grandes que se pelan, se sazonan con sal y pimienta, se pasan por harina, huevo y coco rallado, y se fríen en aceite caliente. Se sirven con una salsa agridulce de piña, chile y azúcar. Son un platillo típico de la costa veracruzana y se comen como entrada o plato fuerte.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_4.png" />
            <ion-list-header>
              <ion-card-title>Vuelve a la vida</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Un cóctel de mariscos que se prepara con camarones, pulpo, jaiba, ostiones y callo de hacha, cocidos y picados. Se mezclan con jugo de limón, salsa de tomate, cebolla, cilantro, chile serrano y sal. Se sirve frío en una copa o vaso, acompañado de galletas saladas o tostadas. Su nombre se debe a que se dice que es un buen remedio para la cruda o resaca.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_5.png" />
            <ion-list-header>
              <ion-card-title>Pescado a la veracruzana</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Un filete de pescado, generalmente huachinango o robalo, que se cuece al vapor o al horno, bañado con una salsa de tomate, cebolla, ajo, chile, aceitunas, alcaparras y laurel. Se sirve caliente, adornado con rodajas de limón y perejil picado. Es un platillo que simboliza la fusión de las cocinas española y americana en la época de la Colonia y se consume en todo el estado.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_6.png" />
            <ion-list-header>
              <ion-card-title>Caldo de róbalo</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Un caldo claro que se prepara con róbalo, un pescado de carne blanca y firme, tomate, cebolla, ajo, chile, cilantro y orégano. Se sirve caliente en un plato hondo, acompañado de arroz blanco y tortillas. Es un platillo típico de la costa veracruzana y se consume como plato fuerte o como remedio para la cruda o resaca.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/g/g_7.png" />
            <ion-list-header>
              <ion-card-title>Ostiones a la diabla</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Ostiones frescos que se abren y se les quita la concha superior. Se cubren con una salsa picante de chile de árbol, vinagre, ajo y sal, y se gratinan en el horno. Se sirven calientes, espolvoreados con queso parmesano y perejil picado. Son un platillo típico de la zona de Tecolutla y se comen como entrada o botana.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

