<ion-header collapse="fade">
  <ion-toolbar class="bgionic">
    <ion-title>Conócenos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bgionic ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list-header>
              <ion-card-title>Institución</ion-card-title>
            </ion-list-header> <br>

            <ion-card-subtitle>
              Centro de Innovación e Integración de Tecnologías Avanzadas (CIITA). El CIITA es una institución del IPN que se dedica a la investigación, el desarrollo y la transferencia de tecnologías de vanguardia en diversos campos. <br>
              El CIITA tiene como objetivo apoyar el desarrollo regional, fortalecer la industria, impulsar el turismo sustentable, promover la educación y la formación de recursos humanos, y difundir el patrimonio de México. <br>
            </ion-card-subtitle><br>
            <img src="/assets/img/logo_ciita2.png"/>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-list-header>
              <ion-card-title>Contacto</ion-card-title>
            </ion-list-header> <br>

            <ion-card-subtitle>
              El CIITA se encuentra ubicado en: Avenida Instituto Politécnico Nacional S/N, Km 22 Libramiento de Papantla, Veracruz. <br> Código Postal 93400. <br> Número telefónico (55) 57-29-6000.
            </ion-card-subtitle> <br>
            <img src="/assets/img/ciita.png"/>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-list-header>
              <ion-card-title>Aplicación</ion-card-title>
            </ion-list-header> <br>

            <ion-card-subtitle>
              La aplicación Veracruz Turístico permite a los usuarios acceder a información detallada sobre los atractivos turísticos, culturales, históricos y naturales de Veracruz. <br>La aplicación también ofrece la posibilidad de ver fotos e informacion relevante. <br>
            </ion-card-subtitle><br>
            <img src="/assets/img/icono_ciita.png"/>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
