<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Zonas Turisticas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/z_place.png" />
            <ion-list-header>
              <ion-card-title>Centro Ecoturístico - Cántaros del Sol</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Zozocolco <br>
            Recorre sus verdes senderos y disfruta de las tres posas de aguas azuladas, después relaja tus sentidos con un curativo masaje y complementa con el temazcal.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/t_place.png" />
            <ion-list-header>
              <ion-card-title>Castillo de Teayo</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Tuxpan <br>
            Después de caminar entre árboles de cítricos y paisajes tropicales, se llega al parque del Castillo de Teayo y lo primero que se ve es una pirámide de 11.5 metros de altura. La sorpresa viene por el hecho de que se encuentre en pleno centro de la ciudad y en buen estado de conservación. Los orígenes de esta pirámide remontan a 1200 años.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/tt_place.png" />
            <ion-list-header>
              <ion-card-title>Manglares</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Tecolutla <br>
            Estos Manglares consisten en un sistema hidráulico de 54 kilómetros aproximadamente. Estos empiezan desde Casitas y concluyen en el Puerto de Tecolutla. De esta región, sobresale Ciénegas del Fuerte, ubicada en la comunidad de Flores Magón.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/p_place.png" />
            <ion-list-header>
              <ion-card-title>Zona Arqueológica "El Tajín"</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Papantla <br>
            El Tajín fue la antigua capital de la cultura totonaca. De acuerdo con los especialistas, fue contemporánea de otras grandes metrópolis de Mesoamérica como Teotihuacan (en el centro de México), Monte Albán (en Oaxaca) y Palenque o Yaxchilán, en el Mundo Maya.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
