<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Festividades</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/p_fest.png" />
            <ion-list-header>
              <ion-card-title>Corpus Christi</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Papantla <br>
            Se realiza el primer jueves de junio y dura 9 dias. <br>
            Tradicionalmente, el Corpus Christi (Cuerpo de Cristo) se celebra alrededor de sesenta días después del Jueves Santo, por lo que se puede llevar a cabo a finales de mayo o principios de junio, dependiendo de las fechas de la Semana Santa
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/z_fest.png" />
            <ion-list-header>
              <ion-card-title>Fiesta de San Miguel Arcángel</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Zozocolco <br>
            Se realiza a finales del mes de septiembre. <br>
            Cuando llegaron los misioneros franciscanos a este lugar, en el siglo XVII, construyeron la iglesia en la que un día apareció la imagen del santo.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/t_fest.png" />
            <ion-list-header>
              <ion-card-title>El Callejón del Niño Perdido</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Tuxpan <br>
            Se realiza desde el 7 de diciembre. <br>
            Esta tradición consiste en que los niños encienden velas, se colocan en carritos de cartón que van jalando y guiando al niño perdido.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/municipios/tt_fest.png" />
            <ion-list-header>
              <ion-card-title>Semana del Dulce de Coco</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Municipio: Tecolutla <br>
            Se realiza del 3 al 5 de marzo. <br>
            Los pobladores se reunen con un ambiente costero y musical alrededor de las pailas calientes para elaborar el dulce de coco mas grande del Mundo e integrarlo año con año al World Records Guinness.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
